<a href="https://colab.research.google.com/github/b2221450/Prmn2023a/blob/main/PythonBasic_4_Question_ipynb_%E3%81%AE%E3%82%B3%E3%83%94%E3%83%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/github/kiryu-3/Prmn2023/blob/main/Python/Python_Basic/question/PythonBasic_4_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 第4章 課題

## 課題1

10から2800まで、10飛ばしの数を乱数で生成し、2220000に足してください。  

この数を5つ生成し、一つのリストに格納した後、最終的に頭に"b"をつけて5つ出力してください。

＜実行結果例＞
``` py  
['b2220400', 'b2221750', 'b2222480', 'b2221720', 'b2220380']
```

In [ ]:
# 入力用
import random
a=[]
for i in range(5):
  x=random.randrange(10,2801,10)
  y=str(2220000+x)
  a.append(y)
b=['b'+j for j in a]
print(b)

['b2220760', 'b2222090', 'b2220500', 'b2222460', 'b2220180']

## 課題2

1桁の自然数を乱数を使って5つ格納した2つのリストを作ってください。  
この時、一つのリスト内で5つの値が重複しないようにしてください

その後、対応する要素を足し合わせた新しいリストを出力してください

＜実行結果例＞
``` py  
1つ目のリスト：[1, 2, 3, 4, 5]  
2つ目のリスト：[1, 3, 5, 7, 9]  
足し合わせたリスト：[2, 5, 8, 11, 14]
```

In [14]:
# 入力用
import random
a=[]
b=[]
c=[]
while len(a)<5:
    x=random.randint(1,9)
    if x not in a:
      a.append(x)
while len(b)<5:          
    y=random.randint(1,9)
    if y not in b:
      b.append(y)
for i in range(5):      
 c.append(a[i]+b[i])
print(a)
print(b)  
print(c)

[4, 2, 1, 8, 7]
[9, 1, 7, 2, 5]
[13, 3, 8, 10, 12]

## 課題3

リストの中身を指定した数で分割してみます。

以下のリストには都道府県47つが格納されています。

In [ ]:
todohuken_list = [
    '北海道', '青森県', '岩手県', '宮城県', '秋田県', '山形県', '福島県', '茨城県', '栃木県', '群馬県', 
    '埼玉県', '千葉県', '東京都', '神奈川県', '新潟県', '富山県', '石川県', '福井県', '山梨県', '長野県', 
    '岐阜県', '静岡県', '愛知県', '三重県', '滋賀県', '京都府', '大阪府', '兵庫県', '奈良県', '和歌山県', 
    '鳥取県', '島根県', '岡山県', '広島県', '山口県', '徳島県', '香川県', '愛媛県', '高知県',  '福岡県', 
    '佐賀県', '長崎県', '熊本県', '大分県', '宮崎県', '鹿児島県', '沖縄県',
]

  
これをランダムに1つのリストのサイズを4として分割してください

＜実行結果例＞  
``` py 
[['宮崎県', '茨城県', '栃木県', '千葉県'], … , ['岩手県', '滋賀県', '宮城県']]
```

In [ ]:
# 入力用
import random
a=4
todohuken_list = [
    '北海道', '青森県', '岩手県', '宮城県', '秋田県', '山形県', '福島県', '茨城県', '栃木県', '群馬県', 
    '埼玉県', '千葉県', '東京都', '神奈川県', '新潟県', '富山県', '石川県', '福井県', '山梨県', '長野県', 
    '岐阜県', '静岡県', '愛知県', '三重県', '滋賀県', '京都府', '大阪府', '兵庫県', '奈良県', '和歌山県', 
    '鳥取県', '島根県', '岡山県', '広島県', '山口県', '徳島県', '香川県', '愛媛県', '高知県',  '福岡県', 
    '佐賀県', '長崎県', '熊本県', '大分県', '宮崎県', '鹿児島県', '沖縄県',
]
random.shuffle(todohuken_list)
b=[]
for i in range(0,47,4):
  b.append(todohuken_list[i:i+4])
print(b)

[['三重県', '石川県', '大分県', '新潟県'], ['和歌山県', '福岡県', '京都府', '岡山県'], ['茨城県', '岐阜県', '滋賀県', '佐賀県'], ['愛媛県', '栃木県', '長崎県', '山形県'], ['大阪府', '宮城県', '愛知県', '熊本県'], ['山口県', '青森県', '香川県', '福島県'], ['広島県', '島根県', '群馬県', '北海道'], ['千葉県', '宮崎県', '山梨県', '鳥取県'], ['徳島県', '埼玉県', '沖縄県', '秋田県'], ['兵庫県', '高知県', '神奈川県', '長野県'], ['岩手県', '奈良県', '静岡県', '東京都'], ['富山県', '福井県', '鹿児島県']]

## 課題4

ある大学の名前と年齢が、次のような形式で格納されたリスト `university_list` があります。

In [ ]:
university_list = [
    "Chitose,25",
    "Hokudai,105",
    "Muroran,74",
    "Hakodate,23",
]

このリストを、年齢順にソートして、新たなリストとして出力してください

＜実行結果＞  
``` py
['Chitose,25', 'Hokudai,105', 'Muroran,74', 'Hakodate,23']
['Hakodate,23', 'Chitose,25', 'Muroran,74', 'Hokudai,105']
```

In [ ]:
# 入力用
import re
university_list = [
    "Chitose,25",
    "Hokudai,105",
    "Muroran,74",
    "Hakodate,23",
]
print(university_list)
university_list1=sorted(university_list,key=lambda x: int(re.search(r"\d+",x).group()))
print(university_list1)

['Chitose,25', 'Hokudai,105', 'Muroran,74', 'Hakodate,23']
['Hakodate,23', 'Chitose,25', 'Muroran,74', 'Hokudai,105']

## 課題5

**FizzBuzz（フィズ・バズ）問題**という問題について解いていきます。

もともとは、英語圏で長距離ドライブ中や飲み会の時に行われる言葉遊びです。

以下のような問題になります。

1～Nまでの整数を順に出力しなさい。ただし、例外として以下のルールを守ること。

* 3で割り切れる数字の場合は"Fizz"を出力
* 5で割り切れる数字の場合は"Buzz"を出力
* どちらでも割り切れる数字の場合は"FizzBuzz"を出力

ここではN=100として、まずは一つのリストに
"Fizz" か "Buzz" か "FizzBuzz" か "others" を格納してください。

その後、それぞれの要素の数をカウントしてください。

＜実行結果＞  
``` py
FizzBuzzの数：6 
Fizzの数：27 
Buzzの数：14
othersの数：53  
```

In [ ]:
# 入力用
N=100
a=[]
for i in range(1,N+1):
  if i%3==0 and i%5!=0:
    a.append("Fizz")
  elif i%3!=0 and i%5==0:
    a.append("Buzz")
  elif i%3==0 and i%5==0:
    a.append("FizzBuzz")
  else:
    a.append("other")  
print("FizzBuzzの数:",a.count("FizzBuzz"))      
print("Fizzの数:",a.count("Fizz"))  
print("Buzzの数:",a.count("Buzz"))  
print("otherの数:",a.count("other"))

FizzBuzzの数: 6
Fizzの数: 27
Buzzの数: 14
otherの数: 53